{
    "env": {
        "browser": true,
        "es2021": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "react-hooks",
        "@typescript-eslint"
    ],
    "ignorePatterns": ["*.test.ts", "*.test.tsx", "dist/"],
    "rules": {
        "indent": ["error", 4, {
            "ignoredNodes": ["JSXAttribute", "JSXSpreadAttribute"]
        }],
        "react/jsx-indent": [2, 4, {
            "indentLogicalExpressions": true
        }],
        "react/jsx-indent-props": [2, 4],
        "react/react-in-jsx-scope": "off",
        "no-nested-ternary": "off",
        "no-unneeded-ternary": 2,
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
